<div class="filters">
    <select class="filters__sex">
<option value="" disabled="true" selected="true">Sex</option>
<option value="man">Man</option>
<option value="woman">Woman</option>

    </select>
</div>

<main>
    <div class="content">
        <div class="content__products">
            {{#each products}}
            <a href="/product/{{title}}/{{_id}}" class="shoes__link">
                <div class="shoes">

                    
                        <img class="shoes__img" src="{{img}}" alt="">

                    <div class="shoes__information">
                        <div class="shoes__name">
                            <h3>{{title}}</h3>
                        </div>
                        <div class="shoes__price">
                            <h4>${{price}}</h4>
                        </div>
                        <div class="shoes__gender">
                            <h4>{{gender}}</h4>
                        </div>

                        <button class="container__add">AÑADIR AL CARRITO</button>
                        <a href="/product/{{title}}/{{id}}"></a>


                    </div>
            </a>

        </div>
        {{/each}}
    </div>
    </div>
</main>

<script src="/scripts/client.js"> </script>


    