<main>

    <div class="container">

        <img class="container__imgView" src="{{img}}" alt="">

        <div class="container__infoView">
            <div class="container__infoProduct">

                <div class="container__name">
                    <h2>{{title}}</h2>
                </div>
                <div class="container__price">
                    <h4>{{price}}</h4>
                </div>
            </div>

            <div class="container__anotherInfo">
                <div class="container__size">
                    <Select class = "select__size">
                        <option value="" disabled="true" selected="true">Size</option>

                        {{#each size}}
                        <option value="{{this}}">{{this}}</option>
                        {{/each}}
                    </Select>
                    

                </div>
                <div class="container__count">

                     <Select class = "select__count">
                        <option value="" disabled="true" selected="true">Count</option>

                        
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                       
                    </Select>
                </div>
            </div>

            <button class="btn__add" data-title=""="{{title}}"
            data-price="{{price}}"
            data-id="{{_id}}"
            data-img="{{img}}"
            >AÑADIR AL CARRITO</button>
        </div>
    </div>




</main>

<script src="/public/scripts/client.js"></script>